body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #226b9c;
  background-image: linear-gradient(
    to right,
    #216f9c,
    #24749e,
    #3e87b4,
    #327fad,
    #24749e,
    #24749e,
    #226b9c
  );
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 0;
}
.circle {
  background: rgba(132, 171, 190, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.25em 0.25em 0.75em rgba(33, 85, 132, 0.9),
    0.125em 0.125em 0.95em rgba(33, 85, 132, 0.9);
  position: relative;
}
.circle-inner {
  width: 11rem;
  height: 11rem;
  background: rgba(42, 118, 162, 0.9);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-inner-segmented {
  width: 10rem;
  height: 10rem;
  background: rgba(100, 155, 187, 0.9);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* SVG Circle Wrapper */
.circle-inner-segmented-svg {
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.svg-arrow {
  position: absolute;
  top: 6.5rem;
  left: 6.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.svg-magnifier {
  position: absolute;
  top: 6.8rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.circle-center {
  width: 4rem;
  height: 4rem;
  background: rgba(42, 118, 162, 1);
  border-radius: 50%;
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.inner-horizontal-divider {
  width: 10rem;
  height: 0.36rem;
  background: rgba(42, 118, 162, 1);
  position: absolute;
  top: 4.82rem;
}
.inner-vertical-divider {
  width: 0.36rem;
  height: 5rem;
  background: rgba(42, 118, 162, 1);
  position: absolute;
  left: 4.82rem;
  top: 5rem;
}
p {
  font-family: "Amatic SC", cursive;
  font-size: 0.75rem;
  color: antiquewhite;
  text-align: center;
  position: absolute;
  left: 5rem;
  top: 1rem;
  -webkit-transform: translate(-50%, calc(-50% -1rem));
  -ms-transform: translate(-50%, calc(-50% - 1rem));
  transform: translate(-50%, calc(-50% - 1rem));
}
p span {
  position: absolute;
}

/* SVG Section Hover - Needs Work
.section {
  pointer-events: all;
}
.section:hover {
  fill: green;
  transform: scale(2.5);
}
.section-join {
  transition: all 1s;
  transform-origin: 50% 50%;
}
*/
