body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #226b9c;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5rem 0 1rem 0;
}
/* Curved Text Settings */
p {
  font-family: "Amatic SC", cursive;
  font-size: 0.9rem;
  color: antiquewhite;
  text-align: center;
  position: absolute;
  left: 5rem;
  top: 1rem;
  -webkit-transform: translate(-50%, calc(-50% -1rem));
  -ms-transform: translate(-50%, calc(-50% - 1rem));
  transform: translate(-50%, calc(-50% - 1rem));
}
p span {
  position: absolute;
}
